@model Tuple<List<CMS.MODEL.Master.CourseTeacherModel>, List<CMS.MODEL.Master.TeachersEditModel>>

@{
    ViewBag.Title = "OurTeachers";
}

<!-- page title -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css" />
    <link href="~/Styles/GlobalCssProperties/ProfileCard.css" rel="stylesheet" />
</head>
<body>
    <section class="page-title-section overlay" data-background="images/backgrounds/page-title.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <ul class="list-inline custom-breadcrumb">
                        <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="-link">Our teacher</a></li>
                        <li class="list-inline-item text-white h3 font-secondary "></li>
                    </ul>
                    <p class="text-lighten">Our courses offer a good compromise between the continuous assessment favoured by some universities and the emphasis placed on final exams by others.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- /page title -->
    <!-- teachers -->
    <section class="section">
        <div class="container">
            <div class="row">
                @foreach (var item in Model.Item1)
                {
                    <div class="col-sm-6 col-md-3">
                        <div class="profile-card">
                            <div class="profile-img">
                                <img src="@Url.Content(@item.ImagePath)" alt="Team Image" />
                            </div>
                            <div class="profile-content">
                                <h2 class="title">
                                    Brayden
                                    <span>Designer & Developer</span>
                                </h2>
                                <ul class="social-link">
                                    <li><a href="#" class="fa fa-facebook"></a></li>
                                    <li><a href="#" class="fa fa-google"></a></li>
                                    <li><a href="#" class="fa fa-twitter"></a></li>
                                    <li><a href="#" class="fa fa-youtube"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

    </section>

    <!-- /teachers -->
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

    <script>
        $(".hover").mouseleave(
            function () {
                $(this).removeClass("hover");
            }
        );

    </script>
</body>
</html>